body{
    background: rgb(238, 238, 238);
    font-family: -apple-system,BlinkMacSystemFont ,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans", sansserif ;
}

.Title{
    background: rgb(0, 126, 168);
    text-align: center;
    color: blue
    padding: 16px;
}

.container{
    margin-left: 37%;
    margin-right: 37%;
}

.search-box{
    position: relative;
    width: 100%;
}

.search-box input{
    width: 68%;
    padding: 8px;
}

.search-box button{
    padding: 8px 10px;
    background: red;
    
}